# IMDb Movies Dataset ‚Äî Exploratory Data Analysis

Bu notebook, `data/imdb.csv` dosyasƒ±nƒ± **pandas** ile okuyup veri setini tanƒ±mak (EDA) i√ßin hazƒ±rlanmƒ±≈ütƒ±r.

## Kurulum ve ƒ∞√ße Aktarƒ±m

- `pandas`: tablo verileri (DataFrame) ile √ßalƒ±≈üma
- ƒ∞steƒüe baƒülƒ± olarak g√∂r√ºnt√ºlemeyi daha rahat yapmak i√ßin bazƒ± ayarlar

In [78]:
import pandas as pd

# G√∂r√ºn√ºm ayarlarƒ± (opsiyonel)
pd.set_option("display.max_columns", 50)
pd.set_option("display.width", 140)

- **pandas**, veri analizi i√ßin kullanƒ±lan temel Python k√ºt√ºphanesidir.
- `pd` takma adƒ±yla √ßaƒürƒ±lƒ±r (standart kullanƒ±m).
- Pandas k√ºt√ºphanesinde yoƒüun olarak kullanƒ±lan veri tipi 'Series' ve 'Dataframe'.

---

## Veri Okuma

`pd.read_csv()` ile CSV dosyasƒ±nƒ± DataFrame'e √ßeviriyoruz.

> Not: Dosya yolu projedeki konuma g√∂re deƒüi≈üebilir.

In [4]:
df = pd.read_csv("data/imdb.csv")
df

                                           Movie_Title  YR_Released  Rating  Num_Reviews   Movie_ID             Record  Runtime
0                                    Code Name: K.O.Z.         2015     1.4        24623  tt4458206  Bottom 250 Movies    114.0
1                                     Saving Christmas         2014     1.5        12765  tt4009460  Bottom 250 Movies     80.0
2                         Superbabies: Baby Geniuses 2         2004     1.6        26505  tt0270846  Bottom 250 Movies     88.0
3                                    Daniel the Wizard         2004     1.6        13295  tt0421051  Bottom 250 Movies     81.0
4                             Manos: The Hands of Fate         1966     1.7        31808  tt0060666  Bottom 250 Movies     70.0
..                                                 ...          ...     ...          ...        ...                ...      ...
845  Pirates of the Caribbean: The Curse of the Bla...         2003     8.0       872441  tt0325980     Top 250 Movies    143.0
846                   What Ever Happened to Baby Jane?         1962     8.0        37906  tt0056687     Top 250 Movies    134.0
847                                       Paris, Texas         1984     8.0        55587  tt0087884     Top 250 Movies    145.0
848                                           Drishyam         2015     8.0        40777  tt4430212     Top 250 Movies    163.0
849                                                 PK         2014     8.0       106375  tt2338151     Top 250 Movies    153.0

[850 rows x 7 columns]

- `read_csv()` ‚Üí CSV dosyasƒ±nƒ± okuyup **DataFrame** olu≈üturur.
- `data/imdb.csv` ‚Üí Dosyanƒ±n bulunduƒüu yol.
- Sonu√ß **df** adlƒ± bir DataFrame‚Äôe atanƒ±r.

üìå Bu DataFrame IMDb film verilerini i√ßeriyor.

---

## ƒ∞lk / Son Kayƒ±tlarƒ± ƒ∞nceleme

Verinin yapƒ±sƒ±nƒ± hƒ±zlƒ±ca g√∂rmek i√ßin:
- `head()` ‚Üí ilk 5 satƒ±r
- `tail()` ‚Üí son 5 satƒ±r

### ƒ∞lk 5 Satƒ±rƒ± G√∂r√ºnt√ºleme

`head` fonksiyonu, veri setimizin arg√ºman deƒüeri kadar satrƒ±nƒ± bize d√∂ner.

default deƒüeri 5'tir. 

Bir arg√ºman girmezsek veri setinin ilk 5 satƒ±rƒ±nƒ± bize d√∂nd√ºr√ºr.

In [74]:
df.head()

                    Movie_Title  YR_Released  Rating  Num_Reviews   Movie_ID             Record  Runtime
0             Code Name: K.O.Z.         2015     1.4        24623  tt4458206  Bottom 250 Movies    114.0
1              Saving Christmas         2014     1.5        12765  tt4009460  Bottom 250 Movies     80.0
2  Superbabies: Baby Geniuses 2         2004     1.6        26505  tt0270846  Bottom 250 Movies     88.0
3             Daniel the Wizard         2004     1.6        13295  tt0421051  Bottom 250 Movies     81.0
4      Manos: The Hands of Fate         1966     1.7        31808  tt0060666  Bottom 250 Movies     70.0

- DataFrame‚Äôin ilk 5 satƒ±rƒ±nƒ± g√∂sterir.
- Veri yapƒ±sƒ±nƒ± hƒ±zlƒ±ca g√∂rmek i√ßin kullanƒ±lƒ±r.

---

### Son 5 Satƒ±rƒ± G√∂r√ºnt√ºleme

`head` fonksiyonunun tam tersi olarak √ßalƒ±≈üƒ±r. 

Arg√ºman deƒüeri kadar satƒ±rƒ± sondan bize d√∂nd√ºr√ºr.

In [79]:
df.tail()

                                           Movie_Title  YR_Released  Rating  Num_Reviews   Movie_ID          Record  Runtime
845  Pirates of the Caribbean: The Curse of the Bla...         2003     8.0       872441  tt0325980  Top 250 Movies    143.0
846                   What Ever Happened to Baby Jane?         1962     8.0        37906  tt0056687  Top 250 Movies    134.0
847                                       Paris, Texas         1984     8.0        55587  tt0087884  Top 250 Movies    145.0
848                                           Drishyam         2015     8.0        40777  tt4430212  Top 250 Movies    163.0
849                                                 PK         2014     8.0       106375  tt2338151  Top 250 Movies    153.0

- DataFrame‚Äôin **son 5 satƒ±rƒ±nƒ±** g√∂sterir.
- Verinin sonunun d√ºzg√ºn y√ºklenip y√ºklenmediƒüini kontrol etmek i√ßin kullanƒ±lƒ±r.

---

## Boyut (Shape)

`df.shape` bize **(satƒ±r, s√ºtun)** bilgisini verir.

- Satƒ±r = ka√ß kayƒ±t (film) var?
- S√ºtun = ka√ß √∂zellik (kolon) var?

In [80]:
df.shape

(850, 7)

√áƒ±ktƒ± formatƒ±:
`(satƒ±r_sayƒ±sƒ±, s√ºtun_sayƒ±sƒ±)`

---

## S√ºtun ƒ∞simleri

`df.columns` ile s√ºtun isimlerini listeleriz.  
Bu, √∂zellikle veri temizliƒüi ve isimlendirme kontrol√º i√ßin √∂nemlidir.

In [77]:
df.columns

Index(['Movie_Title', 'YR_Released', 'Rating', 'Num_Reviews', 'Movie_ID', 'Record', 'Runtime'], dtype='object')

üìå `dtype='object'` ‚Üí Bu **Index** nesnesinin tipi (string liste gibi d√º≈ü√ºnebilirsin)

---

## Ham Deƒüerler (NumPy Array) ‚Äî `df.values`

`df.values` DataFrame'in i√ßindeki deƒüerleri **NumPy array** olarak verir.

- S√ºtun isimleri ve index **yoktur**
- √áoƒüu EDA a≈üamasƒ±nda gerekmez, ama:
  - Makine √∂ƒürenmesi
  - NumPy tabanlƒ± i≈ülemler
  - Performans odaklƒ± hesaplar  
i√ßin kullanƒ±labilir.

‚ö†Ô∏è G√ºnl√ºk analizlerde genelde **kullanƒ±lmaz**, √ß√ºnk√º:
- Okunabilir deƒüil
- S√ºtun isimleri kaybolur

In [81]:
df.values

array([['Code Name: K.O.Z.', 2015, 1.4, ..., 'tt4458206',
        'Bottom 250 Movies', 114.0],
       ['Saving Christmas', 2014, 1.5, ..., 'tt4009460',
        'Bottom 250 Movies', 80.0],
       ['Superbabies: Baby Geniuses 2', 2004, 1.6, ..., 'tt0270846',
        'Bottom 250 Movies', 88.0],
       ...,
       ['Paris, Texas', 1984, 8.0, ..., 'tt0087884', 'Top 250 Movies',
        145.0],
       ['Drishyam', 2015, 8.0, ..., 'tt4430212', 'Top 250 Movies', 163.0],
       ['PK', 2014, 8.0, ..., 'tt2338151', 'Top 250 Movies', 153.0]],
      dtype=object)

- DataFrame‚Äôin **ham NumPy array** halini d√∂nd√ºr√ºr.
- √áƒ±ktƒ±:
    - 2 boyutlu bir liste (`list of lists` gibi)
    - S√ºtun isimleri **yok**
    - Sadece **deƒüerler** var

---

## ƒ∞statistiksel √ñzet ‚Äî `df.describe()`

`describe()` sayƒ±sal s√ºtunlar i√ßin hƒ±zlƒ± bir √∂zet verir:

- count: dolu deƒüer sayƒ±sƒ±
- mean: ortalama
- std: standart sapma
- min / max: en k√º√ß√ºk / en b√ºy√ºk
- 25% / 50% / 75%: √ßeyrekler (quartiles), 50% = medyan

In [82]:
df.describe()

       YR_Released      Rating   Num_Reviews     Runtime
count   850.000000  850.000000  8.500000e+02  849.000000
mean   1991.375294    7.371882  2.593526e+05  130.771496
std      22.855960    1.886546  3.469407e+05   33.232523
min    1921.000000    1.400000  0.000000e+00   54.000000
25%    1977.250000    7.500000  1.242750e+04  105.000000
50%    1999.000000    8.100000  7.861750e+04  129.000000
75%    2009.000000    8.200000  4.437150e+05  153.000000
max    2017.000000    9.200000  1.829037e+06  320.000000

**Ne yapar?**
- **Sadece sayƒ±sal s√ºtunlar** i√ßin
- ƒ∞statistiksel √∂zet √ºretir

---

## Yapƒ±sal √ñzet ‚Äî `df.info()`

`info()` DataFrame'in kimlik kartƒ±dƒ±r:

- satƒ±r sayƒ±sƒ±
- her s√ºtunun **veri tipi (dtype)**
- her s√ºtunda ka√ß **non-null** deƒüer var (eksik veri kontrol√º i√ßin √ßok kritik)
- bellek kullanƒ±mƒ±

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie_Title  850 non-null    object
 1   YR_Released  850 non-null    int64
 2   Rating       850 non-null    float64
 3   Num_Reviews  850 non-null    int64
 4   Movie_ID     850 non-null    object
 5   Record       850 non-null    object
 6   Runtime      849 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 46.6+ KB

Yapƒ±sal bilgi verir

`Veri tipi + eksik veri`

---

## Eksik Veri Analizi

Eksik veri (NaN) analizi i√ßin en pratik komutlardan biri:

- `df.isnull()` ‚Üí True/False tablosu d√∂nd√ºr√ºr  
- `.sum()` ‚Üí True deƒüerleri sayar (yani NaN sayƒ±sƒ±)

Sonu√ß bize her s√ºtunda ka√ß eksik veri olduƒüunu verir.

In [84]:
df.isnull().sum()

Movie_Title    0
YR_Released    0
Rating         0
Num_Reviews    0
Movie_ID       0
Record         0
Runtime        1
dtype: int64

**Ne yapar?**
- Her s√ºtun i√ßin:
    - Ka√ß tane **NaN / eksik deƒüer** olduƒüunu sayar

---

### Eksik Runtime Kaydƒ±nƒ± Bulma

Eƒüer sadece `Runtime` s√ºtununda eksik veri varsa, hangi satƒ±r olduƒüunu g√∂rebiliriz.

In [85]:
missing_runtime = df[df["Runtime"].isnull()]
missing_runtime

  Movie_Title  YR_Released  Rating  Num_Reviews   Movie_ID             Record  Runtime
9    √Ålom.net         2009     1.9         8502  tt1309000  Bottom 250 Movies      NaN

---

## Eksik Veri ƒ∞√ßin Temizleme Stratejileri

Eksik veri temizliƒüi i√ßin 3 tip strateji vardƒ±r:

    1. Satƒ±r silmek: Veri kaybƒ± olur ama en temiz y√∂ntem olabilir.  
    2. Ortalama/medyan ile doldurmak: Veri kaybƒ± olmaz ama daƒüƒ±lƒ±mƒ± etkileyebilir.  
    3. Sabit deƒüerle doldurmak: Genelde √∂nerilmez (analizi bozar).

Bu veri setinde `Runtime` eksik sayƒ±sƒ± **1** ise, √ßoƒüu senaryoda satƒ±rƒ± silmek mantƒ±klƒ±dƒ±r.

---

### Satƒ±r Silme (√ñnerilen)

Sadece `Runtime` eksik olan satƒ±r(lar)ƒ± siler.

In [ ]:
df_clean = df.dropna(subset=["Runtime"]).copy()
df_clean.shape

---

### Alternatif: Ortalama ile Doldurma (Opsiyonel)

Satƒ±r silmek istemiyorsan a≈üaƒüƒ±daki y√∂ntem kullanƒ±labilir.
> Not: Bu y√∂ntem `Runtime` daƒüƒ±lƒ±mƒ±nƒ± biraz yapayla≈ütƒ±rabilir.

In [ ]:
df_fill_mean = df.copy()
df_fill_mean["Runtime"] = df_fill_mean["Runtime"].fillna(df_fill_mean["Runtime"].mean())
df_fill_mean.isnull().sum()

---

## Basit ƒ∞pu√ßlarƒ± (EDA Notlarƒ±)

- `df.sample(5)` ‚Üí rastgele 5 satƒ±r g√∂rmek i√ßin iyi bir y√∂ntem

In [86]:
df.sample(5)

                  Movie_Title  YR_Released  Rating  Num_Reviews   Movie_ID                 Record  Runtime
643        Back to the Future         1985     8.5       801488  tt0088763         Top 250 Movies    116.0
115                Goodfellas         1990     8.7       788904  tt0099685     Top 250 Eng Movies    146.0
474          The Ghazi Attack         2017     7.6         5250  tt6299040  Top 250 Indian Movies    116.0
61              The Skydivers         1963     2.5         4463  tt0057507      Bottom 250 Movies     75.0
425  Manjhi: The Mountain Man         2015     7.9        13425  tt3449292  Top 250 Indian Movies    120.0

- `df.nunique()` ‚Üí her s√ºtunda ka√ß farklƒ± deƒüer var?

In [88]:
df.nunique()

Movie_Title    653
YR_Released     88
Rating          38
Num_Reviews    645
Movie_ID       656
Record           4
Runtime        135
dtype: int64

- `df["col"].value_counts()` ‚Üí kategorik daƒüƒ±lƒ±m

In [92]:
df["Movie_Title"].value_counts()

Drishyam                            3
The Treasure of the Sierra Madre    2
Unforgiven                          2
The Third Man                       2
Up                                  2
                                   ..
JFK                                 1
The Graduate                        1
A Christmas Story                   1
The King's Speech                   1
In the Mood for Love                1
Name: Movie_Title, Length: 653, dtype: int64


- `df.corr(numeric_only=True)` ‚Üí sayƒ±sal korelasyon

In [90]:
df.corr(numeric_only=True)

             YR_Released    Rating  Num_Reviews   Runtime
YR_Released     1.000000 -0.102785     0.085856  0.221095
Rating         -0.102785  1.000000     0.382232  0.383230
Num_Reviews     0.085856  0.382232     1.000000  0.070265
Runtime         0.221095  0.383230     0.070265  1.000000

---

## `.loc` vs `.iloc`

> `.loc` **isimle (label),** `.iloc` **sƒ±ra numarasƒ±yla (index) se√ßer.**


üîë **Temel fark**

| √ñzellik       | `.loc`             | `.iloc`              |
| ------------- | ------------------ | -------------------- |
| Se√ßim t√ºr√º    | **Label (etiket)** | **Index (pozisyon)** |
| Satƒ±r         | index adƒ±          | 0-based sƒ±ra         |
| S√ºtun         | s√ºtun adƒ±          | s√ºtun sƒ±rasƒ±         |
| Okunabilirlik | ‚≠ê‚≠ê‚≠ê‚≠ê‚≠ê       | ‚≠ê‚≠ê‚≠ê             |
| Hata riski    | D√º≈ü√ºk              | Daha y√ºksek          |

---

### `.loc` ‚Üí ƒ∞sme g√∂re se√ßim (Label-based)

In [93]:
df.loc[1, "Movie_Title"]

'Saving Christmas'

**Ne olur?**
- `1` ‚Üí **index label**
- `"Movie_Title"` ‚Üí s√ºtun adƒ±

üìå Yani:
> **Index‚Äôi 1 olan satƒ±rƒ±n Movie_Title deƒüeri**

---

#### Sayƒ±sal s√ºtun

In [94]:
df.loc[1, "Num_Reviews"]

12765

üìå Bu y√ºzden `.loc`:
- Okunur
- G√ºvenlidir
- Ger√ßek projelerde **tercih edilir**

---

### `.iloc` ‚Üí Sƒ±raya g√∂re se√ßim (Position-based)
Aynƒ± veriyi `iloc` ile alalƒ±m

In [114]:
df.iloc[1, 0]

'Saving Christmas'

**Ne olur?**
- `1` ‚Üí 2. satƒ±r (0-based)
- `0` ‚Üí 1. s√ºtun

---


#### Num_Reviews

In [96]:
df.iloc[1, 3]

12765

‚ö†Ô∏è Problem:
- S√ºtun sƒ±rasƒ± deƒüi≈üirse kod **bozulur**
- Okunmasƒ± zor

---

#### Kar≈üƒ±la≈ütƒ±rma

| Ama√ß      | `.loc`                     | `.iloc`         |
| --------- | -------------------------- | --------------- |
| Film adƒ±  | `df.loc[1, "Movie_Title"]` | `df.iloc[1, 0]` |
| Oy sayƒ±sƒ± | `df.loc[1, "Num_Reviews"]` | `df.iloc[1, 3]` |

‚û°Ô∏è **Aynƒ± sonu√ß**, farklƒ± eri≈üim yolu.

---

#### Satƒ±r / S√ºtun Aralƒ±klarƒ±
##### `.loc`**(dahil)** ile aralƒ±k

In [130]:
df.loc[0:5, ["Movie_Title", "Rating"]]

                    Movie_Title  Rating
0             Code Name: K.O.Z.     1.4
1              Saving Christmas     1.5
2  Superbabies: Baby Geniuses 2     1.6
3             Daniel the Wizard     1.6
4      Manos: The Hands of Fate     1.7
5                  Pledge This!     1.7

‚úî 5 **dahil**

---

##### `.iloc`**(hari√ß)** ile aralƒ±k

In [131]:
df.iloc[0:5, 0:2]

                    Movie_Title  YR_Released
0             Code Name: K.O.Z.         2015
1              Saving Christmas         2014
2  Superbabies: Baby Geniuses 2         2004
3             Daniel the Wizard         2004
4      Manos: The Hands of Fate         1966

‚ùå 5 **dahil deƒüil**

---

#### Filtreleme + .loc (EN √ñNEMLƒ∞ KISIM)

In [116]:
df.loc[df["Rating"] >= 8, ["Movie_Title", "Rating"]]

                                           Movie_Title  Rating
100                           The Shawshank Redemption     9.2
101                                      The Godfather     9.2
102                             The Godfather: Part II     9.0
103                                    The Dark Knight     9.0
104                                       12 Angry Men     8.9
..                                                 ...     ...
845  Pirates of the Caribbean: The Curse of the Bla...     8.0
846                   What Ever Happened to Baby Jane?     8.0
847                                       Paris, Texas     8.0
848                                           Drishyam     8.0
849                                                 PK     8.0

[573 rows x 2 columns]

üìå Bu kullanƒ±m:
- Profesyonel
- Okunaklƒ±
- Temiz
- G√ºvenli
- Analitik

`.iloc` ile bu kadar okunaklƒ± olmaz.

---

#### Ne Zaman Hangisi?
‚úÖ `.loc` kullan:
- S√ºtun adƒ±nƒ± biliyorsan
- Filtreleme yapƒ±yorsan
- Analiz / EDA yapƒ±yorsan
- Notebook yazƒ±yorsan

‚ö†Ô∏è `.iloc` kullan:
- Hƒ±zlƒ± test
- Loop i√ßinde pozisyon lazƒ±m
- S√ºtun sƒ±rasƒ± **sabit** ve **garanti** ise

---

üéØ **Altƒ±n Kural**
- %90 durumda `.loc` kullan
- `.iloc` ‚Üí √∂zel durum aracƒ± (pozisyon ger√ßekten gerekiyorsa)

**Mini Cheat Sheet**

In [135]:
# Tek h√ºcre
df.loc[1, "Movie_Title"]

'Saving Christmas'

In [132]:
# Birden fazla s√ºtun
df.loc[1, ["Movie_Title", "Rating"]]

Movie_Title    Saving Christmas
Rating                      1.5
Name: 1, dtype: object

In [133]:
# Ko≈üullu se√ßim
df.loc[df["Rating"] > 8, :]

                            Movie_Title  YR_Released  Rating  Num_Reviews   Movie_ID              Record  Runtime
100            The Shawshank Redemption         1994     9.2      1829037  tt0111161  Top 250 Eng Movies    142.0
101                       The Godfather         1972     9.2      1249333  tt0068646  Top 250 Eng Movies    175.0
102              The Godfather: Part II         1974     9.0       860228  tt0071562  Top 250 Eng Movies    202.0
103                     The Dark Knight         2008     9.0      1808543  tt0468569  Top 250 Eng Movies    152.0
104                        12 Angry Men         1957     8.9       497242  tt0050083  Top 250 Eng Movies     96.0
..                                  ...          ...     ...          ...        ...                 ...      ...
808                     The Truman Show         1998     8.1       727241  tt0120382      Top 250 Movies    103.0
809               The Nights of Cabiria         1957     8.1        29373  tt0050783      Top 250 Movies    110.0
810                  The Princess Bride         1987     8.1       316058  tt0093779      Top 250 Movies     98.0
811                 Hachi: A Dog's Tale         2009     8.1       180654  tt1028532      Top 250 Movies     93.0
812  Nausica√§ of the Valley of the Wind         1984     8.1       106541  tt0087544      Top 250 Movies    117.0

[449 rows x 7 columns]

In [134]:
# iloc kar≈üƒ±lƒ±ƒüƒ±
df.iloc[1, 0]

'Saving Christmas'

---

In [118]:
# Saving Christmas filminin Num of Reviews bilgisini yazdƒ±rƒ±nƒ±z
df.iloc[1, 3]

12765

**Neden √ßalƒ±≈üƒ±yor?**
- `iloc` **pozisyon bazlƒ±dƒ±r**
- `1` ‚Üí 2. satƒ±r (index 1 ‚Üí **Saving Christmas*)
- `3` ‚Üí 4. s√ºtun

S√ºtun sƒ±ralamasƒ±:
- 0 ‚Üí Movie_Title
- 1 ‚Üí YR_Released
- 2 ‚Üí Rating
- 3 ‚Üí Num_Reviews

Bu kod **√ßalƒ±≈üƒ±r ama kƒ±rƒ±lgandƒ±r.** (S√ºtun sƒ±rasƒ± deƒüi≈üirse sonu√ß yanlƒ±≈ü olur.)

---

In [102]:
# 5 ile 10 satƒ±rlardaki filmlerin isimlerini ekrana yazdƒ±rƒ±n
df.loc[5:10, "Movie_Title"]

5                       Pledge This!
6      D√ºnyayi Kurtaran Adam'in Oglu
7                         Foodfight!
8         Birdemic: Shock and Terror
9                           √Ålom.net
10    Titanic - La leggenda continua
Name: Movie_Title, dtype: object

**Neden `.loc` kullandƒ±k?**
- `.loc` ‚Üí **label-based**
- Index aralƒ±ƒüƒ± **dahil‚Äìdahil** √ßalƒ±≈üƒ±r

**Eƒüer `.iloc` kullansaydƒ±k?**

In [119]:
df.iloc[5:11, 0]

5                       Pledge This!
6      D√ºnyayi Kurtaran Adam'in Oglu
7                         Foodfight!
8         Birdemic: Shock and Terror
9                           √Ålom.net
10    Titanic - La leggenda continua
Name: Movie_Title, dtype: object

üìå √á√ºnk√º:
- iloc‚Äôta **√ºst sƒ±nƒ±r hari√ßtir**

---

In [ ]:
# ilk 10 filmi ekrana yazdƒ±rƒ±nƒ±z
df.loc[:10, "Movie_Title"]

0                  Code Name: K.O.Z.
1                   Saving Christmas
2       Superbabies: Baby Geniuses 2
3                  Daniel the Wizard
4           Manos: The Hands of Fate
5                       Pledge This!
6      D√ºnyayi Kurtaran Adam'in Oglu
7                         Foodfight!
8         Birdemic: Shock and Terror
9                           √Ålom.net
10    Titanic - La leggenda continua
Name: Movie_Title, dtype: object

**Nasƒ±l √ßalƒ±≈üƒ±r?**
- `.loc` ‚Üí **label-based**
- `:10` ‚Üí **0‚Äôdan 10‚Äôa kadar**
- `"Movie_Title"` ‚Üí sadece film isimleri

üìå **√ñnemli nokta** (`.loc` kuralƒ±):
> √úst sƒ±nƒ±r **DAHƒ∞L**

**`.iloc` (pozisyon bazlƒ±, √∂nerilen)**

In [120]:
df.iloc[:10, 0]

0                Code Name: K.O.Z.
1                 Saving Christmas
2     Superbabies: Baby Geniuses 2
3                Daniel the Wizard
4         Manos: The Hands of Fate
5                     Pledge This!
6    D√ºnyayi Kurtaran Adam'in Oglu
7                       Foodfight!
8       Birdemic: Shock and Terror
9                         √Ålom.net
Name: Movie_Title, dtype: object

In [123]:
df['Movie_Title'].head(10)

0                Code Name: K.O.Z.
1                 Saving Christmas
2     Superbabies: Baby Geniuses 2
3                Daniel the Wizard
4         Manos: The Hands of Fate
5                     Pledge This!
6    D√ºnyayi Kurtaran Adam'in Oglu
7                       Foodfight!
8       Birdemic: Shock and Terror
9                         √Ålom.net
Name: Movie_Title, dtype: object

---

In [104]:
# 10 ile 20 satƒ±rlarƒ±n Movie_Title, Num_Reviews
df.loc[10:20, ["Movie_Title", "Num_Reviews"]]

                        Movie_Title  Num_Reviews
10   Titanic - La leggenda continua            0
11                   Disaster Movie            0
12                    Zombie Nation            0
13          The Hottie & the Nottie            0
14       Keloglan Karaprens'e Karsi            0
15             From Justin to Kelly            0
16                     A Fox's Tale            0
17  Ram Gopal Varma's Indian Flames            0
18                  Going Overboard            0
19         Emret Komutanim: Sah Mat            0
20     Attack of the Jurassic Shark            0

**Nasƒ±l √ßalƒ±≈üƒ±r?**
- `10:20` ‚Üí 10, 11, 12, ‚Ä¶, 20 (20 dahil)
- `["Movie_Title", "Num_Reviews"]` ‚Üí iki s√ºtun birlikte

üìå √áƒ±ktƒ± doƒüru √ß√ºnk√º:
- `.loc` aralƒ±klarƒ± **inclusive**
- S√ºtunlar **isimle** se√ßildi ‚Üí g√ºvenli

**Eƒüer `.iloc` ile yazƒ±lsaydƒ±:**

In [121]:
df.iloc[10:21, [0, 3]]

                        Movie_Title  Num_Reviews
10   Titanic - La leggenda continua            0
11                   Disaster Movie            0
12                    Zombie Nation            0
13          The Hottie & the Nottie            0
14       Keloglan Karaprens'e Karsi            0
15             From Justin to Kelly            0
16                     A Fox's Tale            0
17  Ram Gopal Varma's Indian Flames            0
18                  Going Overboard            0
19         Emret Komutanim: Sah Mat            0
20     Attack of the Jurassic Shark            0

Ama:
- Okunmasƒ± zor
- S√ºtun sƒ±rasƒ± deƒüi≈üirse bozulur ‚ùå

---

- **Analiz yazƒ±yorsan** `.loc`, **indeks hesabƒ± yapƒ±yorsan** `.iloc.`
- `.loc` **okunabilirlik**, `.iloc` **kontroll√º dilimleme** i√ßindir.

---

#### Tek S√ºtun Se√ßimi

In [105]:
df['Movie_Title']

0                                      Code Name: K.O.Z.
1                                       Saving Christmas
2                           Superbabies: Baby Geniuses 2
3                                      Daniel the Wizard
4                               Manos: The Hands of Fate
                             ...
845    Pirates of the Caribbean: The Curse of the Bla...
846                     What Ever Happened to Baby Jane?
847                                         Paris, Texas
848                                             Drishyam
849                                                   PK
Name: Movie_Title, Length: 850, dtype: object

**Tek k√∂≈üeli parantez** - `Series`
- Veri tipi ‚Üí `dtype: object`(string)

**Tek bir s√ºtunu** d√∂nd√ºr√ºr
- Movie_Title s√ºtununu se√ßer

D√∂nen veri tipi: Series

üìå √ñzellikler:
- Tek boyutludur
- Index + deƒüer i√ßerir
- Filtreleme ve string i≈ülemleri i√ßin uygundur

**`.loc` ‚Äî Label (Etiket) Bazlƒ± Se√ßim**

In [122]:
df.loc[:, 'Movie_Title']

0                                      Code Name: K.O.Z.
1                                       Saving Christmas
2                           Superbabies: Baby Geniuses 2
3                                      Daniel the Wizard
4                               Manos: The Hands of Fate
                             ...
845    Pirates of the Caribbean: The Curse of the Bla...
846                     What Ever Happened to Baby Jane?
847                                         Paris, Texas
848                                             Drishyam
849                                                   PK
Name: Movie_Title, Length: 850, dtype: object

Ama `.loc`:
- filtreleme
- √ßoklu s√ºtun
- g√ºncelleme
i√ßin **daha g√º√ßl√ºd√ºr.**

---

#### DataFrame olarak almak

In [106]:
df[['Movie_Title']]

                                           Movie_Title
0                                    Code Name: K.O.Z.
1                                     Saving Christmas
2                         Superbabies: Baby Geniuses 2
3                                    Daniel the Wizard
4                             Manos: The Hands of Fate
..                                                 ...
845  Pirates of the Caribbean: The Curse of the Bla...
846                   What Ever Happened to Baby Jane?
847                                       Paris, Texas
848                                           Drishyam
849                                                 PK

[850 rows x 1 columns]

‚û°Ô∏è DataFrame

üìå Fark:
- √áift k√∂≈üeli parantez ‚Üí DataFrame ‚Üí tablo (satƒ±r + s√ºtun)
- Tek k√∂≈üeli parantez ‚Üí Series ‚Üí tek boyut

---

In [124]:
df[
    ['Movie_Title', 'Num_Reviews']
][10:20]

                        Movie_Title  Num_Reviews
10   Titanic - La leggenda continua            0
11                   Disaster Movie            0
12                    Zombie Nation            0
13          The Hottie & the Nottie            0
14       Keloglan Karaprens'e Karsi            0
15             From Justin to Kelly            0
16                     A Fox's Tale            0
17  Ram Gopal Varma's Indian Flames            0
18                  Going Overboard            0
19         Emret Komutanim: Sah Mat            0

**Nasƒ±l √ßalƒ±≈üƒ±r?**
- Satƒ±r ‚Üí index label
- S√ºtun ‚Üí s√ºtun adƒ±
- Aralƒ±klar DAHƒ∞L‚ÄìDAHƒ∞L

- **Yeni bir DataFrame** olu≈üturur (sadece bu 2 s√ºtun)
- Bu **yeni DataFrame √ºzerinde** satƒ±r dilimlemesi yapar

Sorunlarƒ±:
- Okunabilirlik d√º≈ü√ºkt√ºr
- `SettingWithCopyWarning` risklidir
- G√ºncelleme (=) yaparken **sessiz hatalara** yol a√ßar
- pandas dok√ºmantasyonunda √∂nerilmez

**`.loc` ‚Äî Label (Etiket) Bazlƒ± Se√ßim**

In [107]:
df.loc[10:20, ['Movie_Title', 'Num_Reviews']]

                        Movie_Title  Num_Reviews
10   Titanic - La leggenda continua            0
11                   Disaster Movie            0
12                    Zombie Nation            0
13          The Hottie & the Nottie            0
14       Keloglan Karaprens'e Karsi            0
15             From Justin to Kelly            0
16                     A Fox's Tale            0
17  Ram Gopal Varma's Indian Flames            0
18                  Going Overboard            0
19         Emret Komutanim: Sah Mat            0
20     Attack of the Jurassic Shark            0

**Nasƒ±l √ßalƒ±≈üƒ±r?**
- Satƒ±r ‚Üí **index label**
- S√ºtun ‚Üí **s√ºtun adƒ±**
- Aralƒ±klar **DAHƒ∞L‚ÄìDAHƒ∞L**

üìå Bu kullanƒ±m:
- Tek adƒ±mda se√ßim
- Hem satƒ±r hem s√ºtun **aynƒ± anda**
- Okunaklƒ±
- G√ºvenli
- pandas tarafƒ±ndan √∂nerilen ve ger√ßek projelerde ki standart y√∂ntem

**`.iloc` ‚Äî Pozisyon Bazlƒ± Se√ßim**

In [108]:
df.iloc[10:20, [0, 3]]

                        Movie_Title  Num_Reviews
10   Titanic - La leggenda continua            0
11                   Disaster Movie            0
12                    Zombie Nation            0
13          The Hottie & the Nottie            0
14       Keloglan Karaprens'e Karsi            0
15             From Justin to Kelly            0
16                     A Fox's Tale            0
17  Ram Gopal Varma's Indian Flames            0
18                  Going Overboard            0
19         Emret Komutanim: Sah Mat            0

**Nasƒ±l √ßalƒ±≈üƒ±r?**
- Satƒ±r ‚Üí **0-based pozisyon**
- S√ºtun ‚Üí **0-based pozisyon**
- √úst sƒ±nƒ±r **hari√ßtir**

üìå Dezavantaj:
- S√ºtun sƒ±rasƒ± deƒüi≈üirse kod bozulur
- Okunabilirliƒüi d√º≈ü√ºkt√ºr

**Yanlƒ±≈ü Ama √áalƒ±≈üan Kullanƒ±m (Chained Indexing)**

In [109]:
df[['Movie_Title', 'Num_Reviews']][10:20]

                        Movie_Title  Num_Reviews
10   Titanic - La leggenda continua            0
11                   Disaster Movie            0
12                    Zombie Nation            0
13          The Hottie & the Nottie            0
14       Keloglan Karaprens'e Karsi            0
15             From Justin to Kelly            0
16                     A Fox's Tale            0
17  Ram Gopal Varma's Indian Flames            0
18                  Going Overboard            0
19         Emret Komutanim: Sah Mat            0

**Neden yanlƒ±≈ü?**

Bu kullanƒ±m:
- √ñnce **s√ºtun** se√ßer
- Sonra **satƒ±r** se√ßer

Bu yapƒ±ya **Chained Indexing** denir.

üìå Sorunlarƒ±:
- `SettingWithCopyWarning` √ºretir
- G√ºncelleme yaparken veri kaybƒ±na yol a√ßabilir
- pandas dok√ºmantasyonunda **√∂nerilmez**

**Doƒüru ve Profesyonel Kullanƒ±m**

‚úÖ Doƒüru Kar≈üƒ±lƒ±ƒüƒ±

In [110]:
df.loc[10:20, ['Movie_Title', 'Num_Reviews']]

                        Movie_Title  Num_Reviews
10   Titanic - La leggenda continua            0
11                   Disaster Movie            0
12                    Zombie Nation            0
13          The Hottie & the Nottie            0
14       Keloglan Karaprens'e Karsi            0
15             From Justin to Kelly            0
16                     A Fox's Tale            0
17  Ram Gopal Varma's Indian Flames            0
18                  Going Overboard            0
19         Emret Komutanim: Sah Mat            0
20     Attack of the Jurassic Shark            0

**Neden doƒüru?**
- Tek adƒ±mda se√ßim
- Hem satƒ±r hem s√ºtun aynƒ± anda
- G√ºncellemeler g√ºvenlidir

**Dilimleme Farklarƒ± (√áok √ñnemli)**
| Kod              | A√ßƒ±klama         |
| ---------------- | ---------------- |
| `df[10:20]`      | 10‚Äì19 (20 hari√ß) |
| `df.loc[10:20]`  | 10‚Äì20 (20 dahil) |
| `df.iloc[10:20]` | 10‚Äì19            |

**G√ºncelleme Senaryosu (Tehlikeli √ñrnek)**

In [111]:
df[['Movie_Title','Num_Reviews']][10:20]['Num_Reviews'] = 0

‚ùå Bu kod:
- Sessizce ba≈üarƒ±sƒ±z olabilir
- pandas uyarƒ± verir
- Ger√ßek projelerde **kritik hatadƒ±r**

‚úÖ Doƒüru G√ºncelleme

In [112]:
df.loc[10:20, 'Num_Reviews'] = 0

**√ñzet ‚Äî Altƒ±n Kurallar**

‚úÖ Yapƒ±lmasƒ± Gerekenler
- Satƒ±r + s√ºtun ‚Üí `.loc`
- Pozisyon gerekiyorsa ‚Üí `.iloc`
- G√ºncelleme ‚Üí **mutlaka** `.loc`

‚ùå Ka√ßƒ±nƒ±lmasƒ± Gerekenler
- `df[...][...]`
- S√ºtun numarasƒ±yla eri≈üim
- G√ºncellemede chained indexing

---

##### Mini Cheat Sheet

In [136]:
# Tek s√ºtun
df['Movie_Title']

0                                      Code Name: K.O.Z.
1                                       Saving Christmas
2                           Superbabies: Baby Geniuses 2
3                                      Daniel the Wizard
4                               Manos: The Hands of Fate
                             ...
845    Pirates of the Caribbean: The Curse of the Bla...
846                     What Ever Happened to Baby Jane?
847                                         Paris, Texas
848                                             Drishyam
849                                                   PK
Name: Movie_Title, Length: 850, dtype: object

In [127]:
# Birden fazla s√ºtun
df[['Movie_Title', 'Num_Reviews']]

                                           Movie_Title  Num_Reviews
0                                    Code Name: K.O.Z.        24623
1                                     Saving Christmas        12765
2                         Superbabies: Baby Geniuses 2        26505
3                                    Daniel the Wizard        13295
4                             Manos: The Hands of Fate        31808
..                                                 ...          ...
845  Pirates of the Caribbean: The Curse of the Bla...       872441
846                   What Ever Happened to Baby Jane?        37906
847                                       Paris, Texas        55587
848                                           Drishyam        40777
849                                                 PK       106375

[850 rows x 2 columns]

In [128]:
# Satƒ±r + s√ºtun (√∂nerilen)
df.loc[10:20, ['Movie_Title', 'Num_Reviews']]

                        Movie_Title  Num_Reviews
10   Titanic - La leggenda continua            0
11                   Disaster Movie            0
12                    Zombie Nation            0
13          The Hottie & the Nottie            0
14       Keloglan Karaprens'e Karsi            0
15             From Justin to Kelly            0
16                     A Fox's Tale            0
17  Ram Gopal Varma's Indian Flames            0
18                  Going Overboard            0
19         Emret Komutanim: Sah Mat            0
20     Attack of the Jurassic Shark            0

In [129]:
# Pozisyon bazlƒ±
df.iloc[10:20, [0, 3]]

                        Movie_Title  Num_Reviews
10   Titanic - La leggenda continua            0
11                   Disaster Movie            0
12                    Zombie Nation            0
13          The Hottie & the Nottie            0
14       Keloglan Karaprens'e Karsi            0
15             From Justin to Kelly            0
16                     A Fox's Tale            0
17  Ram Gopal Varma's Indian Flames            0
18                  Going Overboard            0
19         Emret Komutanim: Sah Mat            0

- Tek s√ºtun = Series, 
- √ßok s√ºtun = DataFrame

üéØ Sonu√ß
> pandas‚Äôta **doƒüru indexleme**, **hatasƒ±z analiz + g√ºvenli g√ºncelleme** demektir.